
.firstsection  { 
    background-color: #1F2937;
    height: 60vh
}



.header {
    display:flex; 
    justify-content: space-around;
    font-size: 18px;
}

.headerLinks { 
 color: white;
}

.OdinCoin { 
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 6vh;
    left: 13.5vw;
    letter-spacing: 10px;;
    
}

.subtext { 
    color: white;
    text-align: left;
    width: 15vw;
    bottom: 11vh;

    position:relative;
    left: 7vw;
}

.subTextandPicture { 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.signUpBtn  { 
    color: white;
    background-color: lightblue;
    border-radius: 5em;
    font-size: 15px;
    padding: 10px 50px;
    cursor:pointer;
    position: relative;
    right: 20em;
    top: 8em;
    
    
}

.picture1 { 
    position:relative;
    right: 10vh;
    bottom: 18vh;
}

.btnAnchor { 
    cursor: pointer;
}

.randomInformation { 
    text-align: center;
    color:#1F2937;
    font-size: 36px;
    height: 30vh;
    
}



.quoteDiv { 
background-color: #E5E7EB;
height: 30vh;
}



.callToAction {
    width: 15vh;
    color:white;
    height: 15vh;
}

